<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:int="http://www.springframework.org/schema/integration"
  xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
  xmlns:rabbit="http://www.springframework.org/schema/rabbit"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/amqp 
    http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
    http://www.springframework.org/schema/rabbit 
    http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Configuration for Component Scan -->
	<context:component-scan base-package="com.onlinetechvision" />
	
	<context:property-placeholder location="classpath*:rabbitmq.properties"/>
	
	<int:channel id="inputChannel"/>
	
	<int:gateway id="orderGateway" service-interface="com.onlinetechvision.integration.OrderGateway" default-request-channel="inputChannel" />
	
	<int-amqp:channel id="processChannel"
		connection-factory="connectionFactory" 
		message-driven="true"
		queue-name="ha.rabbit.channel" />

	<!-- RabbitMQ Connection Factory -->
	<rabbit:connection-factory id="connectionFactory"
				addresses="${rabbitmq.addresses}" 
				username="${rabbitmq.username}"
				password="${rabbitmq.password}" />
				
	<int:splitter id="orderSplitter" input-channel="inputChannel" output-channel="processChannel" />
	
	<int:service-activator input-channel="processChannel" ref="orderProcessService" method="process" />
  
</beans>
